body {
  font-family: Arial, sans-serif;
  background: #0d1117;
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

input {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 12px;
  padding: 10px;
}
.card img {
  width: 100%;
  border-radius: 8px;
}
